<app-navbar [state]="state"></app-navbar>
<div class="container">
  <div class="row m-5 justify-content-center">
    <div class="dropdown col-xs-12 col-sm-5 col-md-4 col-lg-4 col-xl-4 p-0">
      <button class="btn btn-light btn-secondary dropdown-toggle col-12" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        {{dropdownTitle}}
      </button>
      <ul class="dropdown-menu col-12" aria-labelledby="dropdownMenuButton1">
          <li class="btn dropdown-item" *ngFor="let s of sectors" (click)="onSectorClick(s)">
            {{s.name}}
          </li>
      </ul>
    </div>
    <button class="btn btn-dark col-xs-12 col-sm-4 col-md-3 col-lg-3 col-xl-3" (click)="onShowCompaniesClicked()">Search</button>
  </div>
  <div>
    <ul class="list-group" *ngIf="companies.length">
      <li class="list-group-item d-flex flex-row">
        <p class="col-3"><b>Name</b></p>
        <p class="col-3"><b>CEO</b></p>
        <p class="col-3"><b>Turnover</b></p>
        <p class="col-3"><b>Brief</b></p>
      </li>
      <li class="list-group-item d-flex flex-row" *ngFor="let company of companies">
        <p class="col-xs-6 col-sm-3 col-md-3 col-lg-3 col-xl-3">{{company.name}}</p>
        <p class=" col-xs-6 col-sm-3 col-md-3 col-lg-3 col-xl-3">{{company.ceo}}</p>
        <p class=" col-xs-6 col-sm-3 col-md-3 col-lg-3 col-xl-3">{{company.turnover | currency}}</p>
        <p class=" col-xs-6 col-sm-3 col-md-3 col-lg-3 col-xl-3">{{company.brief}}</p>
      </li>
    </ul>
  </div>
  <div *ngIf="!this.companies.length" class="align-items-center d-flex flex-column mt-5">
    <img src="../../../assets/no_data.svg" alt="No data found" width="30%" class="mt-5">
    <h1 class="mt-5 justify-content-center">No Data to Show</h1>
  </div>
</div>

