<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand mt-auto d-flex justify-content-centera align-items-center" routerLink=""><img src="../../../assets/stock-market-logo.png"><span class="ms-2">Stock Market</span></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 me-2" *ngIf="state==='admin'">
        <li class="nav-item">
          <a class="nav-link">Import Data</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/company">Manage Company</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/exchange">Manage Exchange</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/ipo">Manage IPO</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="../../../assets/profile-user.png" alt="" style="height: 24px;">
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" >Edit Profile</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" (click)="logout()">Logout</a></li>
          </ul>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 me-2" *ngIf="state==='user'">
        <li class="nav-item">
          <a class="nav-link" routerLink="/ipo">IPO Details</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/comparison">Compare Stocks</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/sector">Sector Info</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="../../../assets/profile-user.png" alt="" style="height: 24px;">
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" >Edit Profile</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" (click)="logout()">Logout</a></li>
          </ul>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 me-2" *ngIf="state==='unauth'">
        <li class="nav-item">
          <a class="nav-link" routerLink="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/signup">Sign Up</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
